[Unit]
Description=borg

[Service]
Type=simple
ExecStart=/bin/sh -c %h/.config/systemd/user/borg.sh
WorkingDirectory=%h/.config/borg

[Install]
WantedBy=default.target
