[Unit]
Description=firefox-backup

[Service]
Type=oneshot
ExecStart=/bin/sh -c %h/.config/systemd/user/firefox-backup.sh
WorkingDirectory=%h/.config/systemd/user/firefox-backup.workdir
LogLevelMax=notice

[Install]
WantedBy=default.target
