[Unit]
Description=firefox-backup

[Timer]
Unit=firefox-backup.service
Persistent=false
OnCalendar=*-*-* *:00,05,10,15,20,25,30,35,40,45,50,55:00

[Install]
WantedBy=timers.target
