[Unit]
Description=Lock X session
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/xscreensaver-command -lock

[Install]
WantedBy=sleep.target
