#

/private

/.mono/
/.mtpaint
/.qmmp/
/.texlive/
/.zcompdump*

# altera, xilinx, lattice
/.Synplicity/
/.digilent_dvctbl.txt
/.flexlmrc
/.synplify_pro_history

# steam
/.config/cef_user_data/
/.steampath
/.steampid

.cache/

# git
.git/
*.orig
