#

/private

/.mono/
/.mtpaint
/.texlive/
/.zcompdump*

# altera, xilinx, lattice
/.Synplicity/
/.digilent_dvctbl.txt
/.flexlmrc
/.synplify_pro_history

# steam
/.steampath
/.steampid
/cookie

.cache/

# git
.git/
*.orig

# code
/.cortex-debug
/.prj_config.teros
/.vhdl_ls.toml
