#

/.arduino15/
/.epspdf/
/.mono/
/.mozilla/
/.texlive/
/.vscode-oss/
/.zcompdump*

# altera, xilinx, lattice
/.config/LatticeSemi/
/.altera.quartus/
/.Synplicity/
/.Xilinx/
/.flexlmrc
/.synplify_pro_history

# steam
/.config/cef_user_data/
/.renpy/
/.steam/
/.steampath
/.steampid

.cache/

*.orig
