#!/bin/sh

if [ -z "${DOTFILES:+x}" ] ; then
    . "$HOME/.profile"
fi

xrdb -merge "$DOTFILES/.Xresources"

#if [ -f /usr/bin/nvidia-settings ] ; then
#    echo "load nvidia-settings-rc"
#    /usr/bin/nvidia-settings --load-config-only --config="$DOTFILES/nvidia-settings-rc"
#fi
