#

/*/eval/
/*/javascript/
/*/jdbc-drivers/
/*/mdn/
/*/plugins/
/*/ssl/
/*/tasks/
/*/terminal/history/
/*/workspace/

/*/disabled_*.txt
/*/*.key
/*/port
/*/port.lock



/*/options/actionSummary.xml
/*/options/cachedDictionary.xml
/*/options/colors.scheme.xml
/*/options/databaseDrivers.xml
/*/options/debugger.xml
/*/options/dimensions.xml
/*/options/filetypes.xml
/*/options/find.xml
/*/options/jdk.table.xml
/*/options/other.xml
/*/options/path.macros.xml
/*/options/pluginAdvertiser.xml
/*/options/profilerRunConfigurations.xml
/*/options/recentProjects.xml
/*/options/runner.layout.xml
/*/options/stubIndex.xml
/*/options/textmate_os.xml
/*/options/updates.xml
/*/options/window.manager.xml
/*/options/window.state.xml

/*/options/*.statistics.xml
/*/options/statistics.*.xml
