#

/androidStudioFirstRun.xml
/debugger.xml
/filetypes.xml
/jdk.table.xml
/notifications.xml
/other.xml
/path.macros.xml
/recentProjects.xml
/runner.layout.xml
/updates.xml
/window.state.xml

/*.statistics.xml
