
* {
    -moz-font-feature-settings : "liga" 0 !important;
}

html,body {
    scrollbar-color: #444444 #AAAAAA !important;
    scrollbar-width: auto;
}

//*, :before, :after {
//    transition: none !important;
//    animation-delay: 0ms !important;
//    animation-duration: 0ms !important;
//}
