
set bell-style none

set meta-flag on
set convert-meta off
set input-meta on
set output-meta on

"\C-v": paste-from-clipboard

"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
#set completion-ignore-case on
