#

/enchant/
/evince/
/fonts
/geeqie/
/gnupg
/hledger
/minisign
/mutt
/notmuch
/offlineimap
/opensnitch/
/password-store
/qBittorrent/
/rclone
/solaar/
/sqlitebrowser/
/sylpheed
/VirtualBox/
/wireshark/

/kactivitymanagerdrc
/kglobalshortcutsrc
/okularrc
/QtProject.conf
/Trolltech.conf

accels
accels.*
