#

/borg
/claws-mail
/enchant/
/evince/
/fonts
/gedit/
/geeqie/
/gnupg
/hledger
/kicad/
/minisign
/offlineimap
/password-store
/pipewire/
/qBittorrent/
/rclone
/solaar/
/sqlitebrowser/
/sylpheed
/syncthing
/VirtualBox/
/wireshark/

/kactivitymanagerdrc
/kglobalshortcutsrc
/okularrc
/QtProject.conf
/Trolltech.conf

accels
