#

/borg
/enchant/
/evince/
/fonts
/gedit/
/geeqie/
/gnupg
/hledger
/kicad/
/libreoffice/
/minisign
/offlineimap
/password-store
/pipewire/
/qBittorrent/
/rclone
/solaar/
/sqlitebrowser/
/syncthing
/unity3d/
/VirtualBox/
/wireshark/

/kactivitymanagerdrc
/kglobalshortcutsrc
/okularrc
/QtProject.conf
/Trolltech.conf

accels
