#

/debugger.xml
/dimensions.xml
/filetypes.xml
/jdk.table.xml
/other.xml
/path.macros.xml
/recentProjects.xml
/runner.layout.xml
/stubIndex.xml
/updates.xml
/window.manager.xml
/window.state.xml

/*.statistics.xml
/statistics.*.xml
