<?xml version="1.0" encoding="utf-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify><enabled>no</enabled><icon>cups</icon></startupnotify>
    </action>
  </item>

  <separator/>

  <item label="Reconfigure Openbox"><action name="Reconfigure"/></item>
</menu>

<menu id="exit-menu" label="Exit">
  <item label="Log Out">
    <action name="Execute">
    <command>openbox --exit</command>
  </action>
  </item>
  <item label="Shutdown">
    <action name="Execute">
    <command>systemctl poweroff</command>
  </action>
  </item>
  <item label="Restart">
  <action name="Execute">
    <command>systemctl reboot</command>
  </action>
  </item>
  <item label="Suspend">
  <action name="Execute">
    <command>systemctl suspend</command>
  </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">

  <separator label="Applications"/>

  <item label="uxterm"><action name="Execute"><command>uxterm</command></action></item>
  <item label="far2l"><action name="Execute"><command>far2l</command></action></item>
  <item label="firefox"><action name="Execute"><execute>firefox</execute></action></item>

  <separator label="System"/>

  <menu id="system-menu"/>
  <menu id="exit-menu"/>

</menu>

</openbox_menu>
